APP_NAME=final-projects-backend

DB_USERNAME=root
DB_PASSWORD=
DB_HOST=localhost
DB_NAME=final_projects
DB_DIALECT=mysql

PORT=3030
HOST_SERVER=http://localhost:3030/api
HOST_URL=http://localhost:8000

ACCESS_TOKEN=
CLIENT_KEY=
SERVER_KEY=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
VERIFY_SERVICE=
